[Desktop Entry]
Name=Visual Studio Code
Icon=/home/xenon/ashmeet/dx/VSCode-linux-x64/resources/app/resources/linux/code.png
Exec=/home/xenon/ashmeet/dx/VSCode-linux-x64/bin/code %F
Type=Application
StartupNotify=false
StartupWMClass=Code

