[Unit]
Requires=udisks2.service
Requires=default.target
After=default.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/handle_external_hdds.sh
[Install]
WantedBy=default.target


