[Unit]
Description="Run takeactionforthecriticalbatterylevel.service 5min after boot and every 5min relative to activation time"

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=takeactionforthecriticalbatterylevel.service

[Install]
WantedBy=default.target
